
<div class="bio">
  <h3>Bio</h3>
  <div class="scores">
    <div class="scraps">
      <span class="score-title">recados</span>
      <span><i class="fa-solid fa-comment-dots"></i> 234</span>
    </div>
    <div class="fans">
      <span class="score-title">fãs</span>
      <span><i class="fa-solid fa-star"></i> 23</span>
    </div>
    <div class="trustful">
      <span class="score-title">confiável</span>
      <span><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-thumbs-up"></i></span>
    </div>
    <div class="cool">
          <span class="score-title">legal</span>
          <span><i class="fa-solid fa-face-smile"></i><i class="fa-solid fa-face-smile"></i><i class="fa-solid fa-face-smile"></i></span>
    </div>
    <div class="sexy">
          <span class="score-title">sexy</span>
          <span><i class="fa-solid fa-fire"></i><i class="fa-solid fa-fire"></i><i class="fa-solid fa-fire"></i></span>
    </div>
  </div>
  <hr>
  <div class="about">
    <table>
      <tr>
        <td class="about-title">sobre mim:</td>
        <td>O cuidado em identificar pontos críticos no julgamento imparcial das eventualidades é uma das consequências do fluxo de informações.</td>
      </tr>
      <tr>
        <td class="about-title">idade:</td>
        <td>34 anos</td>
      </tr>
      <tr>
        <td class="about-title">relacionamento:</td>
        <td>namorando</td>
      </tr>
      <tr>
        <td class="about-title">cidade:</td>
        <td>Rio de Janeiro - RJ</td>
      </tr>
      <tr>
        <td class="about-title">interesses:</td>
        <td>video games, rpg, programação, design</td>
      </tr>
    </table>
  </div>
</div>
