<div class="communities">
  <h3>Comunidades</h3>
  <div class="friends">
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://img10.orkut.br.com/profile/21437847795d1278679c2b64.93208087_de67a28e56d36a8bf5b1160ba827f152.jpg" alt="">
      <span>Odeio acordar cedo</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://tfbrnp.vtexassets.com/arquivos/ids/160084/CHOCOLATE.png?v=637782776349000000" alt="">
      <span>Eu amo chocolate</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://miro.medium.com/max/1200/1*9hd_8qR0CMZ8L0pVbFLjDw.png" alt="">
      <span>Ruby por amor</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://images.squarespace-cdn.com/content/v1/5d5208bebb45570001e085c7/1602197683779-AEIITH971HCGRWK8G2EC/RVC_Kitten_Fundamentals.jpg" alt="">
      <span>Fã de gatos</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://super.abril.com.br/wp-content/uploads/2018/07/566ee0ae82bee174ca0300dahomer-simpson.jpeg" alt="">
      <span>Os Simpsons</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://mesaderpg.com.br/wp-content/uploads/2020/10/tormenta-rpg.jpg" alt="">
      <span>Eu jogo RPG</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://i.pinimg.com/236x/e5/16/c7/e516c77d7d44fc50039144a9b528f5db.jpg" alt="">
      <span>D&D 5E</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://files.tecnoblog.net/wp-content/uploads/2019/05/league-of-legends-700x394.jpg" alt="">
      <span>LoL BR</span>
    </div>
    <div class="d-flex flex-column">
      <img class="comu-avatar" src="https://www.tenhomaisdiscosqueamigos.com/wp-content/uploads/2020/10/dexter-696x463.jpg" alt="">
      <span>Dexter</span>
    </div>
  </div>
  <span class="see-all">ver todos</span>
</div>
