<div class="friendlist">
  <h3>Amigos</h3>
  <div class="friends">
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/rdev22.png" alt="">
      <span>Renan</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/thiagomachadox.png" alt="">
      <span>Thiago</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/bdellacoletta.png" alt="">
      <span>Branca</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/gagosti.png" alt="">
      <span>Guilherme</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/yasmincrisostom.png" alt="">
      <span>Yasmin</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/erikitha.png" alt="">
      <span>Erica</span>
    </div>
  </div>
  <span class="see-all">ver todos</span>
</div>
