<div class="friendlist">
  <span class="d-flex justify-content-between">
    <h3 class="section-title">Amigos</h3>
    <span class="see-all">ver todos</span>
  </span>
  <div class="friends">
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/rdev22.png" alt="">
      <span>Renan</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/thiagomachadox.png" alt="">
      <span>Thiago</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/bdellacoletta.png" alt="">
      <span>Branca</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/gagosti.png" alt="">
      <span>Guilherme</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/yasmincrisostom.png" alt="">
      <span>Yasmin</span>
    </div>
    <div class="d-flex flex-column">
      <img class="avatar" src="https://github.com/erikitha.png" alt="">
      <span>Erica</span>
    </div>
  </div>

</div>
