<nav>
  <div class="nav-wrapper">
    <span class="logo">orkut</span>
    <div class="search">
      <form action="/">
        <input class="search-box" type="text" placeholder="Pesquisar no Mykut">
        <a class="submit-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></a>
      </form>
    </div>
    <div class="menu d-flex">
      <div class="user-info">
        <span>Erick Valente</span>
      </div>
      <img class="avatar" src="https://github.com/erickhwk.png" alt="">
    </div>
  </div>
</nav>
