
<div class="profile">
  <img class="avatar" src="https://github.com/erickhwk.png" alt="">
  <span class="profile-name">Erick Valente</span>
  <span class="profile-info">masculino, solteiro</span>
  <span class="profile-info">São Paulo - Brasil</span>
</div>
<hr>
<div class="side-menu">
  <ul>
    <li><i class="fa-solid fa-house"></i>início</li>
    <li><i class="fa-solid fa-user-group"></i>amigos</li>
    <li><i class="fa-solid fa-comment-dots"></i>recados</li>
    <li><i class="fa-solid fa-heart"></i>depoimentos</li>
    <li><i class="fa-solid fa-image"></i>galeria</li>
  </ul>
</div>
