<div class="testemonials">
  <span class="d-flex justify-content-between">
    <h3 class="section-title">Depoimentos</h3>
      <span class="see-all">Ver todos</span>
  </span>
    <div class="testemonial">
      <img class="avatar" src="https://github.com/erikitha.png" alt="">
      <div class="testemonial-info">
        <span class="username">Erica Park</span>
        <span>Desta maneira, a determinação clara de objetivos obstaculiza a apreciação da importância de alternativas às soluções ortodoxas.</span>
      </div>
    </div>
    <div class="testemonial">
      <img class="avatar" src="https://github.com/rdev22.png" alt="">
      <div class="testemonial-info">
        <span class="username">Renan Dantas</span>
        <span>No mundo atual, a necessidade de renovação processual aponta para a melhoria do sistema de formação de quadros que corresponde às necessidades.</span>
      </div>
    </div>
    <div class="testemonial">
      <img class="avatar" src="https://github.com/thiagohoaragao.png" alt="">
      <div class="testemonial-info">
        <span class="username">Thiago Aragão</span>
        <span>Neste sentido, a consolidação das estruturas causa impacto indireto na reavaliação do processo de comunicação como um todo.</span>
      </div>
    </div>
  </div>
